%h1= @picture.title
%small= @picture.user.email
%p= @picture.description
= link_to 'Back | ', pictures_path
= link_to 'Edit | ', edit_picture_path(@picture)
= link_to 'Delete', picture_path(@picture), method: :delete, data: { confirm: 'Are you sure ?'}
